
.data{
  width: 80%;
  height: 240px;
  margin: auto;
  border: 1px solid black;
}
#h1{
  background-color: aqua;
}
#formdata{
  
  width: 30%;
  height: 340px;
  margin: auto;
  background-color: rgba(85, 253, 208, 0.763);
}
#da{
  display: flex;
  justify-content: space-around;
  padding-top: 50px;  
}